<mat-toolbar class="justify-between ">
  <span class="cursor-pointer" routerLink="/">Air Way</span>
  <ng-container *ngIf="user$|async as user;else loginButton">

    <!-- {{user.displayName}} -->
    <button class=" center" mat-fab color="none" [matMenuTriggerFor]="userName" >
      <img class="object-cover object-center w-12 h-12 rounded-full max:h-12 max-w-12 "  [src]="user.photoURL?? '../../../assets/image-placeholder.png'" >
    </button>

  </ng-container>
  <ng-template #loginButton>
    <button mat-button routerLink="/login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>

</mat-toolbar>

<div class="h-[calc(100vh-64px)] bg-cover"style="background: url('../assets/jeremy-bishop-G9i_plbfDgk-unsplash.jpg');">
  <router-outlet ></router-outlet>
</div>
<mat-menu #userName="matMenu">
  <button mat-menu-item  routerLink="/profile">Profile</button>
  <button mat-menu-item  (click)="logout()">Logout</button>
</mat-menu>

